.portfolio-details-container {
    margin-top: 110px;
}

.portfolio-pie-chart {
    max-height: 400px;
    max-width: 400px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(207, 203, 203);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-radius: 10px;
}


thead {
    background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.table-header {
    background-color: antiquewhite;
}

.portfolios-list-create {
    display: flex;
    flex-direction: row;
}

.portfolios-list-container {
    margin: 0 20px 5px 20px;
}

.portfolios-list-container > label {
    color: purple;
    margin-right: 5px;
}

.portfolios-list-container > select {
    color: rgb(249, 137, 156);
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 12px;
    border-color: rgb(4, 165, 214);
}

.create-new-portfolio-btn {
    color: green;
    background-color: var(--chart-blue);
    border: 1px solid var(--chart-blue);
    box-shadow: 3px 3px 2px lightgray;
    border-radius: 10px;
    padding: 5px 12px;
}

.portfolio-managment {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(249, 137, 156);
    align-items: center;
}

.portfolio-managment > button,
.fa-gear,
.fa-trash-can {
    margin-left: 15px;
    color: green;
    background-color: var(--chart-blue);
    border: 1px solid var(--chart-blue);
    box-shadow: 3px 3px 2px lightgray;
    border-radius: 10px;
    padding: 5px 12px;
}

.current-portfolio-detals {
    display: flex;
    justify-content: space-around;
    margin: 20px
}

.transactions-table {
    margin: 20px;
    /* display: flex;
    justify-content: center; */
}

/* create a new portfolio: */
.create-new-portfolio-container > h2 {
    text-align: center;
    color: purple;
}

.create-new-portfolio-form {
    min-height: 300px;
}

.create-new-portfolio-form > button {
    margin: 20px 0px;
}

.create-new-portfolio-form > button:hover {
    color: rgb(1, 74, 28);
    font-weight: bolder;
}

.success-alert {
    color: rgb(1, 74, 28);
    margin: 10px 30px;
}

.update-icon > button{
    border: none;
    background-color: transparent;
}
