/* HTML: <div class="loader"></div> */
.wait-loader {
    width: 100vw;
    height: 20px;
    border-radius: 30px;
    background:
     linear-gradient(orange 0 0) 0/0% no-repeat
     lightblue;
    animation: l2 1s infinite linear;
  }

  @keyframes l2 {
      100% {background-size:110%}
  }
