.watchlists-container {
    align-self: flex-start;
    margin-top: 150px;
}

.all-watchlists {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.watchlist-name {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightblue;
    padding-bottom: 5px;
}

.watchlist-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;
}

.watchlist {
    width: 400px;
}

.watchlist-details {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.watchlist-header {
    display: flex;
    align-items: center;
}

.watchlist-header p {
    color: rgb(250, 144, 162);
    font-weight: bold;
}

.create-new-watchlist-container {
    max-height: 200px;
}

.create-new-watchlist-container h2 {
    color: purple;
    text-align: center;
}

.create-new-watchlist-form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.create-new-watchlist-form input {
    height: 40px;
    border-radius: 10px;
}

.create-new-watchlist-form button {
    height: 40px;
    background-color: rgb(226, 247, 226);
    border: 1px solid lightgrey;
    border-radius: 10px;
    color: purple;
}

.create-new-watchlist-form button:hover {
    font-weight: bold;
    box-shadow: 3px 3px 5px green;
}
