.stock-chart-list-container {
    justify-self: flex-start;
    width: 100%;
}

#stocks-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 30px 50px 30px;
}

#stock-search-bar {
    display: flex;
    flex-direction: row;
    margin: 120px 0px 20px 30px;
    color: rgb(4, 115, 9);
    font-size: 20px;
    font-weight: bold;
}

#stock-search-bar input {
    margin-top: -3px;
    height: 25px;
    margin-left: 10px;
    /* border-radius: 5px; */
    border: none;
    /* border-color: rgb(4, 115, 9); */
}

#stock-search-bar input:focus {
    outline: pink solid 2px;
    border-radius: 5px;
    height: 23px;
}

#stock-search-input {
    background-color: orange;
    height: 26px;
    outline: orange solid 2px;
    margin-left: 10px;
    border-radius: 5px;
}

.fa-magnifying-glass {
    font-size: smaller;
    padding: 4px;
}

#place-order-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid pink;
    width: fit-content;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 2px 2px 5px pink;
}

.buy-sell-btns {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid black;
}

.buy-sell-btns .separator {
    border: 1px solid black;
    height: 40px;
}

.buy-sell-btns .red {
    color: red;
    border-radius: 4px;
}

.buy-sell-btns .green {
    color: green;
    border-radius: 4px;
}

.amount {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

#place-order-container button {
    background-color: var(--chart-blue);
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
}

#money-balance {
    padding: 5px;
    margin: 5px 10px;
    border-top: 1px dashed black;
}

#stock-value-data,
#stock-key-data {
    gap: 30px;
    border: 2px solid lightblue;
    width: 300px;
    border-radius: 10px;
    border-collapse: collapse;
    border-style: hidden ;
    margin: 20px 0;
    box-shadow: 2px 2px 5px lightblue;
}

#current-stock-transaction-table {
    gap: 30px;
    border: 2px solid lightblue;
    /* width: 300px; */
    border-radius: 10px;
    border-collapse: collapse;
    border-style: hidden ;
    margin: 20px 0;
    box-shadow: 2px 2px 5px lightblue;
}

.table-header {
    height: 25px;
}

.table-header2 {
    /* border-style: hidden; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 25px;
}

#trade-data-contaner {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.delete-transaction-btn button {
    color:brown;
    background-color: var(--chart-blue);
    border: 1px solid var(--chart-blue);
    box-shadow: 3px 3px 2px lightgray;
    border-radius: 10px;
    padding: 5px 12px;
}

.update-transaction-btn button {
    color:rgb(255, 132, 0);
    background-color: var(--chart-blue);
    border: 1px solid var(--chart-blue);
    box-shadow: 3px 3px 2px lightgray;
    border-radius: 10px;
    padding: 5px 12px;
}

.confirm-transaction-btn button {
    color:green;
    background-color: var(--chart-blue);
    border: 1px solid var(--chart-blue);
    box-shadow: 3px 3px 2px lightgray;
    border-radius: 10px;
    padding: 5px 12px;
}

#stock-tile-container {
    cursor: pointer;
}

.stock-shoping-star-icon {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 110px;
}


/* News List */
.news-list-container {
    margin-top: 130px;
    /* margin-left: 60px; */
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.news-list-item {
  width: 300px;
  margin: 10px; /* Space between items */
  box-shadow: 0 2px 4px rgba(195, 194, 194, 0.415);
  border-radius: 4px;
  padding: 10px;
}

.news-list-item a {
    color: black;
    text-decoration: none;
}

.news-info {
    display: flex;
    align-items: center;
}

.news-info img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 50%;
}

.stock-detail-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 30px; */
}

.analyses {
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
}

.analysis {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    justify-content: space-between;
    align-items: space-between;
    box-shadow: 0 2px 4px rgba(195, 194, 194, 0.577);
    border-radius: 10px;
    height: fit-content;
}

/* show all analysis content */
.analysis-modal {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: lightGrey transparent;
}

.analysis-recommendation-modal {
    font-weight: bold;
    color: green;
    padding: 13px;
}

.analysis-content {
    font-style: italic;
    padding: 3px 10px 8px 10px;
    word-break: break-word;
}

.analysis-buttons {
    display: flex;
    /* gap: 20px; */
    justify-content: flex-end;
}

.analysis-buttons div {
    border-radius: 5px;
    /* border: 1px solid black; */
    padding: 5px 10px;
    color: pink;
    margin-top: -20px;
}

.analysis-buttons div:hover {
    color: green;
    border-color: green;
    cursor: pointer;
}

.analysis-recommendation {
    font-weight: bold;
    color: green;
    font-size: small;
    padding-left: 10px;
}

.analysis-user-profile {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(252, 150, 99);
}

.analysis-user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.analysis-create {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--chart-blue);
    box-shadow: 0px 3px 3px var(--chart-blue);
    text-align: center;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 20px;
}

.analysis-create:hover {
    color: green;
    font-weight: bold;
}

#see-more {
    font-size: small;
    font-weight: bolder;
}

.news-analysis-container {
    margin-left: 30px;
}

.stock-detail-container {
    margin-left: 30px;
}

.doughnut-chart {
    height: 200px;
    width: 200px;
}
