#stocks-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 30px 30px 40px;
}

#stock-search-bar {
    display: flex;
    flex-direction: row;
    margin: 120px 0px 20px 30px;
    color: rgb(4, 115, 9);
    font-size: 20px;
    font-weight: bold;
}

#stock-search-bar input {
    margin-top: -3px;
    height: 25px;
    margin-left: 10px;
    /* border-radius: 5px; */
    border: none;
    /* border-color: rgb(4, 115, 9); */
}

#stock-search-bar input:focus {
    outline: pink solid 2px;
    border-radius: 5px;
    height: 23px;
}

#stock-search-input {
    background-color: orange;
    height: 26px;
    outline: orange solid 2px;
    margin-left: 10px;
    border-radius: 5px;
}

.fa-magnifying-glass {
    font-size: smaller;
    padding: 4px;
}

#place-order-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
    margin: 20px 0;
}

.buy-sell-btns {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid black;
}

.buy-sell-btns .separator {
    border: 1px solid black;
    height: 40px;
}

.buy-sell-btns .red {
    color: red;
}

.buy-sell-btns .green {
    color: green;
}

.amount {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

#place-order-container button {
    background-color: var(--chart-blue);
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
}

#money-balance {
    padding: 5px;
    margin: 5px 10px;
    border-top: 1px dashed black;
}
