form {
    display: grid;
}

.sign-in-form {
    min-width: 370px;
    min-height: 370px;
    padding-left: 10px;
    padding-right: 10px;
}

.sign-in-form > h2 {
    text-align: center;
}


.credential-errors  {
    padding-top: 5px;
    padding-bottom: 5px;
    color: red;
}

.disabled {
    background-color: white;
}

#demo-user-btn {
    margin: 1em 0 1em;
    text-align: center;
    color: rgb(1, 85, 22);
    text-decoration: underline;
    cursor: pointer;
}
